<a href="https://colab.research.google.com/github/FelipeSSNotebook/Programa-o-Anchieta/blob/main/atividade_dia24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro Código**

In [ ]:
#Importancia do tipo de variaveis
a = 2
print(type(a))
b = 3.1
print(type(b))
soma = a + b
print(type(soma))
print(soma)

<class 'int'>
<class 'float'>
<class 'float'>
5.1

# **Lembrar que sempre que quiser calcular é preciso informar que estou lidando com N° inteiro ou float**

**Segundo Código**

In [ ]:
num = int(input("Digite um valor inteiro: "))
print(type(num))
quoc = num//2
resto = num%2
print(quoc)
print(resto)

Digite um valor inteiro: 5
<class 'int'>
2
1

**Exercício 01**


---

In [ ]:
b = float(input("Digite o valor da base: "))
a = float(input("Digite o valor da altura: "))
area = (b*a)/2
print("A área do triângulo é: ", area)

Digite o valor da base: 5
Digite o valor da altura: 6
A área do triângulo é:  15.0

**Exercício 02**


---

In [ ]:
P = float(input("Digite valor em polegada: "))
mm = P*25.4
print("O valor Pol em mm é: ", mm)

Digite valor em polegada: 2
O valor Pol em mm é:  50.8

## **Exercício 05:**


---



**Narrativa:**


**Pseudocódigo:**


**Fluxograma:**

In [ ]:
 from math import pi
 R = float(input("Digite o valor do raio: "))
 Ve = (pi*R**3)/3
 print("O valor do volume da esfera é: ", Ve)

Digite o valor do raio: 6
O valor do volume da esfera é:  226.1946710584651

## **Exercício 06**


---



**Narrativa:**

**Pseudocódigo:**

**Fluxograma:**

In [ ]:
from math import pi
G = float(input("Digite o valor do grau q deseja converter: "))
Ra = (G*pi)/180
print("O valor em radianos é: ", Ra)

Digite o valor do grau q deseja converter: 8
O valor em radianos é:  0.13962634015954636

## **Exercício 07**


---



**Narrativa:**


**Pseudocodigo:**

**Fluxograma:**

In [ ]:
from math import pi
Ar = float(input("Digite o valor do ângulo em radianos: "))
Gr = (Ar*180)/pi
print("O valor em graus é: ", Gr)

Digite o valor do ângulo em radianos: 5
O valor em graus é:  286.4788975654116

## **Exercício 08**


---



**Narratia:**

Este programa converte um valor de ângulo dado em radianos para grados (uma unidade de medida de ângulos usada em alguns sistemas). O usuário é solicitado a inserir o valor de um ângulo em radianos, que é então convertido em grados usando a fórmula G = Ar*200/pi, onde G é o valor em grados e Ar é o valor em radianos. O resultado é exibido ao final.


**Pseudocógido:**

Início:

    Importar a constante pi da biblioteca math
    Exibir mensagem "Digite o valor do ângulo em radianos: "
    Ler o valor de Ar (ângulo em radianos)
    Calcular G usando a fórmula: G = (Ar * 200) / pi
    Exibir o valor de G em grados
  
Fim.

**Fluxograma**:

1- Início

2- Entrada de Dados
   *Perguntar ao usuário o valor do ângulo em radianos.

3- Processamento
   *Calcular o valor de grados usando a fómula G = Ar*200/pi.

4- Saída de Dados
   *Exibir o resultado do cálculo em grados.

5- Fim.

In [ ]:
from math import pi
Ar = float(input("Digite o valor do angulo radiano : "))
G = (Ar*200)/pi
print("O valor em grados é: ", G)

Digite o valor do angulo radiano : 56
O valor em grados é:  3565.0707252584557

# **Tema  -  SE(if)   ......     Senão(else)**

# **Exemplo 1 Programa para verificar se PAR ou Ímpar**

In [ ]:
# Solicita ao usuário que insira um número
numero = int(input("Digite um número inteiro: "))

# Verifica se o número é par ou ímpar
if numero % 2 == 0:
    print(f"{numero} é um número par.")
else:
    print(f"{numero} é um número ímpar.")

Digite um número inteiro: 0
0 é um número par.

# **Exemplo 4 Raiz Quadrada**

In [ ]:
import math

#Solicita ao usuario que insira um numero
numero = float(input("Digite um número: "))

#Verifica se o número é maior ou igual a zero
if numero >= 0:
    raiz = math.sqrt(numero)
    print(f"A raiz quadrada de {numero} é {raiz: .2f}.")
else:
    print("Não existe raiz real para esse numero")

Digite um número: 5
A raiz quadrada de 5.0 é  2.24.

# **Exercicio 1**

In [ ]:
# Solicita ao úsuario que insira o comprimento e a largura da camiseta
comprimento = float(input("Digite o comprimento da camiseta em centimetros: "))
largura = float(input("Digite a largura da camiseta em centimetros: "))
 # Determine o tamanho da casiseta com base no comprimento e largura
if comprimento <= 60 and largura <= 45:
  tamanho = "PP"
elif comprimento <= 65 and largura <= 48:
  tamanho = "P"
elif comprimento <= 70 and largura <= 51:
  tamanho = "M"
elif comprimento <= 75 and largura <= 54:
  tamanho = "G"
elif comprimento <= 80 and largura <= 57:
  tamanho = "GG"
else:
  tamanho = "XGG"
# exibe o tamanho da camiseta
print(f"O tamanho da camiseta é {tamanho}.")

Digite o comprimento da camiseta em centimetros: 50
Digite a largura da camiseta em centimetros: 50
O tamanho da camiseta é M.

# **ATT dia 17**

In [ ]:
N1 = int(input("Digite um valor inteiro: "))
R = N1%3
if R == 0:
  print("O numero é múltiplo de 3")
else:
  print("O numero não é múltiplo de 3")

Digite um valor inteiro: 44444443
O numero não é múltiplo de 3

# **ATT 2**

In [ ]:
n1 = float(input("Digite o valor da primeira nota: "))
n2 = float(input("Digite o valor da segunda nota: "))

N1 = n1*0.2
N2 = n2*0.3
NF = N1+N2
if NF >= 5:
  print(f"A média foi {NF} então vc está aprovado{NF: .2f}")
else:
  print(f"A média foi {NF} então vc está reprovado{NF: .2f}")

Digite o valor da primeira nota: 8
Digite o valor da segunda nota: 7
A média foi 3.7 então vc está aprovado 3.70

# **ATT 3**

In [ ]:
n1 = float(input("Digite o primeiro valor: "))
n2 = float(input("Digite o segundo valor: "))
n3 = float(input("Digite o terceiro valor: "))

if n1 <= n2 and n1 <= n3:
  print(f"O menor valor é {n1}")
elif n2 <= n1 and n2 <= n3:
  print(f"O menor valor é {n2}")
else:
  print(f"O menor valor é {n3}")

Digite o primeiro valor: 1
Digite o segundo valor: 0.2
Digite o terceiro valor: 0.19
O menor valor é 0.19

# **Dia 24/09**

Contar 10 numeros com for

In [4]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

contar ate 10 com range

In [6]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

contar usando while

In [13]:
i=0
while i < 10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

codigo utilizando while como pergunta

In [30]:
while True:
  resposta = input("Deseja realizar uma soma? (sim/nao): ").lower()
  if resposta == "sim":
    num1 = float(input("Digite o primeiro numero: "))
    num2 = float(input("Digite o segundo numero: "))
    soma = num1 + num2
    print(f"A soma de {num1} e {num2} é {soma}")
  elif resposta == "nao":

    print("Obrigado por utilizar o programa")
    break
  else:
    print("Resposta invalida. Por favor, responda com 'sim' ou 'nao'.")

Deseja realizar uma soma? (sim/nao): dsnks
Resposta invalida. Por favor, responda com 'sim' ou 'nao'.
Deseja realizar uma soma? (sim/nao): SIM
Digite o primeiro numero: 9
Digite o segundo numero: 5
A soma de 9.0 e 5.0 é 14.0
Deseja realizar uma soma? (sim/nao): nao
Obrigado por utilizar o programa